.project
.classpath
.settings/
**/.settings/
**/.project
**/.classpath
target/
**/target
/build/
*~
app*log
perf*log
.gradle
/build
/out
/intTestHomeDir
/subprojects/*/out
/intellij
/buildSrc/lib
/buildSrc/build
/subprojects/*/build
/subprojects/docs/src/samples/*/*/build
/website/build
/website/website.iml
/website/website.ipr
/website/website.iws
/performanceTest/build
/subprojects/*/ide
/*.iml
/*.ipr
/*.iws
/subprojects/*/*.iml
/buildSrc/*.ipr
/buildSrc/*.iws
/buildSrc/*.iml
/buildSrc/out
*.classpath
*.project
*.settings
**/amr-ingestion-pipeline-app-*.jar
/bin
/subprojects/*/bin
.DS_Store
/performanceTest/lib
.textmate
/incoming-distributions
.idea
atlassian-ide-plugin.xml
*.sublime-*
.nb-gradle
.nb-gradle-properties
.java-version
.shelf
*.hprof
.gradle
build/
target/*
*/**/target/*
.settings/*
*/**/settings/*
.classpath
.project
*/**/.project
*/**/.classpath

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
### Eclipse ###
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
 
# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
.cproject
 
# PDT-specific
.buildpath
 
# sbteclipse plugin 
.target
 
# TeXlipse plugin
.texlipse
 
 
### Gradle ###
.gradle
